<div class="nav-footer">
    <footer class="footer">
        <div class="container">
            <div class="content ">
                <div>
                    <span><a class="footer-link" href="#">Contact</a></span>
                    <span><a class="footer-link" href="/about">About</a></span>
                    <span class="text-muted float-right">&copy; 2017</span>
                </div>
            </div>
        </div>
    </footer>
</div>