
<!DOCTYPE html>

<html class="main-layout">
<head>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/Magnific-Popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="~/css/default.css" rel="stylesheet"/>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

    <meta name="viewport" content="width=device-width"/>

</head>
<body>
    @{ await Html.RenderPartialAsync("_HeaderNavView"); }
<div class="body-render">

    @RenderBody()
</div>
</body>
  @{ await Html.RenderPartialAsync("_FooterNavView");})
</html>
<script>
    $('.popup').magnificPopup({
        type: 'image'
    })
</script>
