@{ Layout = "_MainLayout"; }

@{ await Html.RenderPartialAsync("_HeroView");}

<div class="home container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro">
                <div class="img-container">
                    <img class="img-fluid" src="~/assets/computer-1869236_640.jpg" />
                </div>

                <h3>
                    Welcome
                </h3>
                <p>
                    I am passionate about technology and creating software solutions that make life easier for everyone. It is important to me to make software that makes tasks eaiser to complete and that stays out of its own way. I strongly belive that
                    the single most important thing to consider when designing software is the usability of design. Software that doesn't work well for the intened audiance does not work at all. Software should be a tool for, not a barrier against completing work.
                </p>

                <p>
                    I beleive that the most interesting intersection of software development/design and individual expression is found in the creation and design of websites. Web design and development is the most creative expression of the work of technology. This is the only
                    channel of technology that shows the intricate interation of art design and a plethora of technologies being used to express self.
                </p>
                <p>
                    Please look aroud the site and see of the technologies I am most passionate about and some of my most interesting project work.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/work">
                <div class="card">

                    <img class="img-fluid" src="~/assets/pexels-photo-160107.jpeg" />
                    <span class="title">Work</span>

                    <div class="target"></div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/about">
                <div class="card">

                    <img class="img-fluid" src="~/assets/pexels-photo-241345.jpeg" />
                    <span class="title">About</span>

                    <div class="target"></div>
                </div>
            </a>
        </div>
    </div>
</div>