@{ Layout = "_MainLayout"; }

@{ await Html.RenderPartialAsync("_HeroView");}

<div class="home container">
    <div class="row">
        <div class="col-md-6">
            <p>Welcome to my Homepage.</p>
        </div>
        <div class="col-md-6">
            <p>test column</p>
        </div>
    </div>
</div>