@{ Layout = "_MainLayout"; }

@{ await Html.RenderPartialAsync("_HeroView");}

<div class="home container">
    <div class="row">
        <div class="col-md-12">
            <div class="img-container"><img class="img-fluid" src="~/assets/computer-1869236_640.jpg" /></div>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur felis vehicula venenatis fermentum. Aenean tempus dapibus maximus. Fusce blandit placerat orci sed rutrum. In et libero in libero molestie molestie id id purus. Aliquam erat volutpat. Etiam vitae tellus sit amet neque aliquet eleifend. Donec auctor vehicula velit, ac dapibus elit. Etiam hendrerit porta ornare. Quisque eu libero auctor, semper nulla a, tincidunt mi.

                Duis quis auctor tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et cursus orci. In vulputate leo ac porta aliquet. Suspendisse ante nisl, pharetra quis nisl id, dignissim posuere sapien. Aenean tempus, erat vitae consequat faucibus, risus orci gravida erat, a venenatis libero odio quis lorem. Quisque tristique bibendum arcu sit amet efficitur. Cras auctor sem lacus, quis convallis tellus dictum a.

                Duis ultricies finibus ex non efficitur. Aenean ut nibh leo. Aliquam tristique, enim in consequat hendrerit, arcu massa faucibus nunc, vitae iaculis justo nisi et sapien. Aliquam dictum quam elit, vel convallis arcu vulputate eu. Duis ornare leo quis lectus placerat dignissim. Pellentesque a tortor quis nibh scelerisque aliquet sed non tellus. Morbi ut rutrum velit. Praesent tempus justo vitae ante rhoncus, consectetur ultricies urna cursus.

                Proin et urna at nibh dictum rhoncus. Nunc interdum orci est, et vestibulum ipsum sollicitudin quis. Sed a purus in ex vulputate porta. Nam semper id nulla sed iaculis. Donec nec sollicitudin elit, vitae dapibus arcu. Etiam porta ex id neque aliquet cursus. Nunc dolor nisl, pellentesque eu rhoncus sed, vulputate nec leo. Donec placerat tellus risus, ut commodo quam eleifend sit amet. Maecenas dignissim sodales erat sed pulvinar. Aliquam interdum lacus erat, vitae consequat magna commodo vel. Vestibulum sit amet nisi vitae massa varius viverra. Nam mollis rutrum est vulputate vehicula. Suspendisse aliquam, tellus non malesuada cursus, arcu sapien congue magna, ac finibus dui sem at felis.

                Duis maximus malesuada dignissim. Donec sit amet consectetur neque. Sed sagittis nulla vel nisl malesuada congue. Cras eleifend nisi nec blandit placerat. Vivamus eu urna egestas augue scelerisque imperdiet. Maecenas at scelerisque diam. Donec pellentesque metus non nibh rutrum, in feugiat urna blandit. Proin ut rutrum orci. Nunc et risus sapien. Curabitur mattis accumsan laoreet. Donec libero leo, volutpat interdum malesuada sed, finibus id leo. Aliquam in tellus id sem fermentum accumsan id ut ligula. Nulla vel urna eget ligula egestas scelerisque at nec urna. Praesent magna purus, porta nec urna eget, porttitor laoreet erat. Maecenas vel orci nec orci aliquam tristique vitae ac elit. Donec quis ligula eu diam facilisis ullamcorper.
            </p>


        </div>
    </div>
</div>