@import "../lib/bootstrap/scss/variables";

.home {
    padding-top: 3%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: $black; 
}
